<div class="header filter">
    <input type="text" name="search-terms" class="search" placeholder="Filter">
    <a class="clearFilter hide" href="#">x</a>
    <a class="clearPlaylist" href="#">Clear Playlist</a>
    <a class="genreButton" href="#">Filter Genres</a>
    <nav class="sorting">
        <span>View By:</span>
        <ul>
            <li><a href="#">Artist</a></li>
            <li><a class="active" href="#">Songs</a></li>
        </ul>
    </nav>
</div>