<div class="bySongs" id="songContainer">
<div id="controlRegion" class='songList header cf'>
    <a class="playAll" href="#">Play All</a>
    <a class='sort songName' href="#" data-sort="songName">Song Name</a>
    <a class='sort artistName' href="#" data-sort="artistName">Artist</a>
    <a class='sort albumName' href="#" data-sort="albumName">Album</a>
    <a class='sort date'  href="#" data-sort="date">Date Released</a>
    <a class='sort genre'  href="#" data-sort="genre">Genre</a>
</div>

    <div id='songRegion'>

</div>

</div>