<a class="playAll" href="#">Play All</a>
<a class='sort songName' href="#" data-sort="songName">Song Name</a>
<a class='sort artistName' href="#" data-sort="artistName">Artist</a>
<a class='sort albumName' href="#" data-sort="albumName">Album</a>
<a class='sort numPlays'  href="#" data-sort="numPlays">Number of Plays</a>
<a class='sort genre'  href="#" data-sort="genre">Genre</a>